<main>
    <section class="container" id="shared-trips-page">
        <header class="trip">
            <h1>Welcome Sharetripers!</h1>
            <p class="lead">Sharedtrip is the best way to road across the country.</p>
            <p class="lead">Find yours Sharedtrip's buddies, when you share with us yours trip plans and let the
                exploration begin!</p>
        </header>
        <div class="row text-center">
            {{#if trips}}
                {{#each trips}}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top"
                                src="{{carImage}}"
                                alt="carImage">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-route"></i> <span>{{this.startPoint}}</span> -
                                    <span>{{this.endPoint}}</span>
                                </h5>
                                <h5 class="mt-4 card-info"><i class="far fa-calendar-alt"></i> Date: <span>{{this.date}}</span>
                                </h5>
                                <h5 class="mt-4 card-info"><i class="far fa-clock"></i> Time: <span>{{this.time}}</span></h5>
                                <h5 class="mt-4"><i class="fas fa-hand-holding-usd"></i> Price: <span>{{this.price}}</span> BGN</h5>
                            </div>
                            <div class="card-footer">
                                <a href="/trips/{{this._id}}" class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="no-trips">
                    <img src="https://www.stagweb.co.uk/img/activities/big/sexyhitchhiker1.jpg" />
                    <p class="lead">Hitchhiker time...</p>
                </div>
            {{/if}}
        </div>
    </section>
</main>